<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello Spring Boot!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form th:action="@{/signup/new}" th:object="${user}" method="post" action="#">
		<label for="name">name:</label>
		<input type="text" th:field="*{name}" />
		<label for="password">password:</label>
		<input type="text" th:field="*{password}" />
		<label for="confirmPassword">confirmPassword:</label>
		<input type="text" th:field="*{confirmPassword}" />
		<label for="captcha">captcha:</label>
		<input type="text" th:field="*{captcha}" />
		<img alt="captcha" src="/captcha-image.html"/>
		<input type="submit"/>
	</form>
</body>
</html>